<div class="col-sm-12 col-md-12 text-center">
 <div class="subheader">Add a new client</div>
</div>

<div class="col-sm-12 col-md-12 text-center">
  <form method="POST" action="." id="add_new_client" class="form-inline">
     <div class="form-group">
       <input required name="clientID" type="text" class="form-control" placeholder="Client ID">
     </div>
     <div class="form-group m-2">
       <input required name="serviceURL" type="text" class="form-control" placeholder="Service URL">
     </div>
     <div class="form-group m-2">
       <input required name="apiKey" type="text" class="form-control" placeholder="API KEY">
     </div>
     <button  id="add-client-btn" type="button" class="btn btn-success custom-button ml-auto">
       Add
     </button>
     <button type="button" id="qr-modal-button" disabled="disabled" data-target="#myModal" class="btn btn-dark custom-button ml-auto">
       QR
     </button>
  </form>
</div>
