<div class="col-sm-12 col-md-12 text-center">
 <div class="subheader">Delete a client</div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 text-center">
  <form method="DELETE" action="." id="delete_client" class="form-inline">
    <div class="flex-fill mr-2">
      <input required name="clientID" type="text" class="form-control w-100" placeholder="Client ID">
    </div>
    <button id="delete-client-btn" type="button" class="btn btn-danger custom-button">
      Delete
    </button>
  </form>
</div>
