<div class="col-sm-12 col-md-12 text-center">
 <div class="subheader">Add an ADMIN USER</div>
</div>

<div class="col-sm-12 col-md-12 text-center">
  <form method="POST" action="." id="add_new_admin" class="form-inline">
     <div class="form-group">
       <input required name="username" type="text" class="form-control" placeholder="Username">
     </div>
     <div class="form-group m-2">
       <input required name="password" type="text" class="form-control" placeholder="Password">
     </div>
     <div class="form-group m-2">
       <input required name="email" type="email" class="form-control" placeholder="Email">
     </div>
     <button  id="add-admin-user-btn" type="button" class="btn btn-success custom-button ml-auto">
       Add
     </button>
  </form>
</div>
